<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restapi_ex.mapper.BookMapper">

    <select id="findBookById" parameterType="String" resultType="com.example.restapi_ex.dto.BookDto">
        SELECT * FROM BOOK WHERE ID = #{id}
    </select>

    <select id="findAll" resultType="com.example.restapi_ex.dto.BookDto">
        SELECT * FROM BOOK;
    </select>

</mapper>