<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
  <h1>게시글 작성</h1>
  <form th:action="@{/posts/create}" th:object="${post}" method="post">
      <label>제목: <input type="text" th:field="*{title}" id="title"/> </label><br>
      <label>내용: <textarea th:field="*{content}" id="content"></textarea> </label><br>
      <label>작성자: <input type="text" th:field="*{author}" id="author" readonly /> </label><br>
      <input type="submit" value="작성하기" /> <input type="reset" value="새로고침" />
  </form>
</body>
</html>